/* *************************************************************************
                                    TABLET
/* ********************************************************************** */

@media screen and (min-width: 768px) {
   
/* ****************************** Main Header **************************** */
   
    #myNavbar ul li {
        display: inline-block;
    }

    #myNavbar ul {
        text-align: center;
    }   
    
/* ***************************  Generic Content *************************** */

    .main-content {
        margin-top: 105px;
    }

/* *************************** Two Column layout */

    .page-content-container, .artist-list-parent-container, .gallery-listings-parent-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
     
    .news-item-container, .artist-list-container, .gallery-listings-container {
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
/* ***************************** Images */
   
    .news-image, .artist-image, .artist-gallery-image, .gallery-listings-image, .latest-news-image {
        height: 200px;
    }

/* ******************************  Index.html ******************************* */

/* ******************************* Header */

    .header-image {
        height: 350px;
    }
 
    #mission-text {
        text-align: center;
    }   
     
    #mission-text p {
        transform: translateY(50%);
        font-size: 28px;
    }
     
/* *********************** Latest News Section */     

/* *****************************  Artist-List.html ************************** */

/* ***************************  Artist-Gallery.html ************************* */
     
    .artist-contact {
        text-align: center;
    }
     
    .artist-image-container {
        width: 90%;
        margin: 0 auto;
    }
     
    .artist-gallery-image {
        width: 90%;
        height: 300px;
    }
     
/* ************************  Upcoming-Exhibitions.html ********************** */

    .table-date {
        width: 15%;
    }     
     
/* ***************************  Gallery-Listings.html *********************** */

/* *****************************  Contact.html ****************************** */

    .form-container {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .form-container p {
        margin-bottom: 0;
    }
    
/* *******************************  News Page ******************************* */
   
    img.latest-news-image {
        width: 600px;
        height: 400px;
    }
    
    .latest-news-text-container {
        width: 500px;
        background-color: #fff;
        margin: 0 auto;
        margin-top: -100px;
        border-radius: 10px;
    }  

/* ********************************  Footer ********************************* */
}

/* *************************************************************************
                                    LAPTOP
/* ********************************************************************** */

@media screen and (min-width: 1024px) {
    
/* ****************************** Main Header **************************** */

    .flex-header {
        display: flex;
        height: 80px;
        padding-top: 20px;
        justify-content: space-between;
    }
    
    h1 {
        padding-top: 0;
        margin-left: 5%;
    }
    
    .nav li a {
        padding: 7px;
    }

/* ***************************  Generic Content *************************** */

/* *************************** Three Column layout */

    .news-item-container, .artist-list-container, .gallery-listings-container {
        max-width: 30%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
     
/* **************************** Page Titles */

    h4 {
        font-size: 20px;
    }
    
/* ***************************** Item Titles */

    h5.news-text, h5.artist-list-text, h5.artist-gallery-text, h5.gallery-listings-text, 
    h5.latest-news-text {
        font-size: 18px;
    }    
     
/* ******************************  Index.html ******************************* */

/* ******************************* Header */

    .header-image {
        height: 450px;
    }
    
    #mission-text {
        text-align: center;
    } 
     
/* *********************** Latest News Section */     
     
/* *****************************  Artist-List.html ************************** */

/* ***************************  Artist-Gallery.html ************************* */

    .artist-art-gallery {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .artist-image-container {
        width: 45%;
    }
    
    .artist-gallery-image {
        height: 200px;
    }
    
/* ************************  Upcoming-Exhibitions.html ********************** */

    .table-date {
        width: 12%;
    }

/* ***************************  Gallery-Listings.html *********************** */

/* *****************************  Contact.html ****************************** */

    .form-container {
        max-width: 70%;
    }
}

/* *************************************************************************
                                    DESKTOP
/* ********************************************************************** */

@media screen and (min-width: 1440px) {
    
/* ****************************** Main Header **************************** */

    h1 {
        font-size: 42px;
    }
    
    nav li a {
        font-size: 22px;
        margin-right: 40px;
    }

/* ***************************  Generic Content *************************** */

    .page-content-container, .artist-list-parent-container,.artist-about, .artist-art-gallery, 
    .table-container, .gallery-listings-parent-container, .latest-news-container, .form-container,
    .latest-news-item-container, .artist-art-gallery {
        width: 90%;
        margin: 0 auto;
    }

/* **************************** Page Titles */

    h4 {
        font-size: 28px;
    }
    
/* ***************************** Item Titles */
    
    h5.news-text, h5.artist-list-text, h5.artist-gallery-text, h5.gallery-listings-text, 
    h5.latest-news-text {
        font-size: 22px;
    }  

/* ***************************** Text */

    .news-text, .artist-list-text, .artist-about-text, .artist-gallery-text, .gallery-listings-text, 
    table, form p, form input, button, .latest-news-text {
        font-size: 17px;
    }

/* ***************************** Images */

    .news-image, .artist-image, .artist-gallery-image, .gallery-listings-image, .latest-news-image {
        height: 220px;
        width: 90%;
    }
    
/* ******************************  Index.html ******************************* */

/* ******************************* Header */

    .header-image {
        height: 550px;
    }
    
    #mission-text {
        height: 300px
    }

    #mission-text p {
        font-size: 34px;
        transform: translateY(120%);
    }

/* *********************** Latest News Section */     

/* ***********************  Artist-List.html ******************** */

/* ***********************  Artist-Gallery.html ******************** */

    .artist-about {
        margin: 20px;
        margin-top: 50px;
        margin: 0 auto;
    }

    .artist-about-image img {
        width: 40%;
        height: 270px;
        margin-bottom: 50px;
    }

    .artist-about-text {
        font-size: 20px;
    }

/* ***********************  Upcoming-Exhibitions.html ******************** */

    table {
        width: 80%;
    }

/* ***********************  Gallery-Listings.html ******************** */

/* ***********************  Contact.html ******************** */

/* *******************************  News Page ******************************* */
   
    img.latest-news-image {
        width: 600px;
        height: 500px;
        margin-left: 10%;
        margin-top: 50px;
    }
    
    .latest-news-text-container {
        width: 600px;
        background-color: #fff;
        margin: 0 auto;
        margin-top: -150px;
        border-radius: 10px;
        margin-right: 10%;
        margin-bottom: 70px;
    } 

/* ***********************  Footer ******************** */

    .footer-icon {
        font-size: 40px;
    }
}

/* *************************************************************************
                                    WIDESCREEN
/* ********************************************************************** */

@media screen and (min-width: 1860px) {
    
/* ****************************** Main Header **************************** */
    
    h1 {
        font-size: 48px;
    }
    
    nav li a {
        font-size: 28px;
        margin-right: 40px;
    }
    
/* ***************************  Generic Content *************************** */

    .page-content-container, .artist-list-parent-container,.artist-about, .artist-art-gallery, 
    .table-container, .gallery-listings-parent-container, .latest-news-container, .form-container,
    .latest-news-item-container, .artist-art-gallery {
        width: 85%;
        margin: 0 auto;
    }
    
/* **************************** Page Titles */
    
    h4 {
        font-size: 32px;
    }
    
/* ***************************** Item Titles */
    
    h5.news-text, h5.artist-list-text, h5.artist-gallery-text, h5.gallery-listings-text, 
    h5.latest-news-text {
        font-size: 26px;
    }  

/* ***************************** Text */

    .news-text, .artist-list-text, .artist-about-text, .artist-gallery-text, .gallery-listings-text, 
    table, form p, form input, button, .latest-news-text {
        font-size: 21px;
    }

/* ***************************** Images */

    .news-image, .artist-image, .artist-gallery-image, .gallery-listings-image, .latest-news-image {
        height: 260px;
        width: 90%;
    }
    
/* ******************************  Index.html ******************************* */

/* ******************************* Header */

    .header-image {
        height: 650px;
    }
    
    #mission-text p {
        font-size: 38px;
    }
}    


